*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, black, rgb(93, 41, 109));
  color: white;
  padding: 30px;
}

.header-div {
  display: flex;
  align-items: center;
}

.header-logo {
  text-align: left;
  margin-right: 10px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-a {
  font-size:large;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.header-a:hover {
  box-shadow: 0 0 5px 2px white;
}

.list-container {
  margin-bottom: 50px;
  text-align: center;
  background: linear-gradient(to right, black, rgb(93, 41, 109));
  padding: 10px; 
}

.subTitulo-productos {
  font-weight: 800; 
  color: rgb(242, 238, 238); 
}

.subTitulo-productos1 {
  font-weight: 1000; 
  font-size: larger;
  color: rgb(242, 238, 238); 
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;

}

.hr-separator {
  width: 20%;
  margin: 10px auto; 
  border: none;
  border-top: 10px solid black;
}


.div-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  margin-left: 250px;
  padding-top: 50px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(33.33% - 20px);
  background-color: #8714aa38; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(136, 27, 144, 0.2); 
  margin-bottom: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  color: #333; 
}

.card p {
  color: #777; 
}

.card button {
  background-color: #320647; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.card button:hover {
  background-color: #a21fdedb; 
}



